<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/profile.php?id=61570269755992"
        target="_blank"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/kaushal.edits00/"
        target="_blank"
        style="color: #c13584"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/kaushal-vaid/"
        target="_blank"
        style="color: #0072b1"
      >
        <i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
